body {
    background-color: rgb(165, 163, 163);
    font-family: 'Source Sans Pro', sans-serif;
}

h1,p {
    color: #806afaea;
    font-size: 3em;
  }

  h2 {
    color:#fff8dc;

  }

  h3, h4, h5 {
    color:#240346;
  }